li {
  font: 15px arial, sans-serif;
  display: inline;
  padding: 14px 16px;
}
ul {
  border: 1px solid #e7e7e7;
  background-color: #dda0dd;
}

li a {
  color: white;
}
li a:hover {
  background-color: #da70d6;
}
h1 {

  font-size: 100px;
  text-shadow: 0 0 10px red, 0 0 20px blue;

}
